<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1070999856829-7d00459okmrg46rrtk4vq02cit1oumpu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070999856829-7d00459okmrg46rrtk4vq02cit1oumpu</string>
	<key>API_KEY</key>
	<string>AIzaSyDG9pwWkx9O3OggCp_zU9J4n8pU28JDhJ4</string>
	<key>GCM_SENDER_ID</key>
	<string>1070999856829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pillypal.me.Pilly-Pal</string>
	<key>PROJECT_ID</key>
	<string>pillypal-ed1cd</string>
	<key>STORAGE_BUCKET</key>
	<string>pillypal-ed1cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070999856829:ios:4d10fa6970145b36dcf9d4</string>
</dict>
</plist>